<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="dms:path" th:content="${model.path}" />
	<title>DevMailServer</title>

	<link rel="stylesheet" th:href="@{|${model.path}/webjars/bootswatch/4.4.1/dist/${model.theme}/bootstrap.min.css|}" />
	<link rel="stylesheet" th:href="@{|${model.path}/webjars/highlightjs/styles/default.css|}" />
	<link rel="stylesheet" th:href="@{|${model.path}/resouces/css/index.css|}" />
	
	<script th:src="@{|${model.path}/webjars/jquery/3.4.1/jquery.min.js|}"></script>
	<script th:src="@{|${model.path}/webjars/jquery-template/1.5.7/jquery.loadTemplate.min.js|}"></script>
	<script th:src="@{|${model.path}/webjars/bootstrap/4.4.1/js/bootstrap.min.js|}"></script>
	<script th:src="@{|${model.path}/webjars/eventsource/1.0.7/example/eventsource-polyfill.js|}"></script>
	<script th:src="@{|${model.path}/webjars/momentjs/2.24.0/min/moment.min.js|}"></script>
	<script th:src="@{|${model.path}/webjars/highlightjs/9.15.10/highlight.min.js|}"></script>
	<script th:src="@{|${model.path}/webjars/highlightjs/highlight.pack.min.js|}"></script>
	<script th:src="@{|${model.path}/resouces/js/index.js|}"></script>
	
	<script type="text/html" id="listElement">
		<a href="#" class="list-group-item list-group-item-action">
		   <div class="d-flex w-100 justify-content-between">
		     <h5 class="mb-1" data-content="subject"></h5>
		     <small data-content="receivedTimestamp" data-format="dateTime"></small>
		   </div>
		   <p class="mb-1">
	         <strong>To:</strong>
			 <span data-content="toRecipients"></span>
		   </p>
		   <p class="mb-1">
	         <strong>From:</strong>
			 <span data-content="fromSender"></span>
		   </p>
		 </a>
	</script>
</head>

<body>

	<div id="container">
		<header>
			<nav class="navbar navbar-dark bg-primary">
				<span class="navbar-brand">DevMailServer</span>
			</nav>
		</header>
	
		<main role="main">
			<section id="list">
				
			</section>
			<section id="preview">
				<div id="preview-tabs">
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#html" role="tab">HTML</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#text" role="tab">Text</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#calendar" role="tab">Calendar</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#raw" role="tab">Raw</a>
						</li>
					</ul>
				</div>
				<div id="preview-content" class="tab-content">
					<div class="tab-pane fade" id="html" role="tabpanel">
						<iframe srcdoc="" height="100%" width="100%"></iframe>
					</div>
					<div class="tab-pane fade" id="text" role="tabpanel">
						<pre><code class="plaintext"></code></pre>
					</div>
					<div class="tab-pane fade" id="calendar" role="tabpanel"></div>
					<div class="tab-pane fade" id="raw" role="tabpanel">
						<pre><code class="http"></code></pre>
					</div>
				</div>
			</section>
		</main>
	</div>

	<!--
	<footer class="footer mt-auto py-3">
		<div class="container">
			<span class="text-muted">Place sticky footer content here.</span>
		</div>
	</footer>
	-->
</body>
</html>
