{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true
    },
    "plugins": ["@typescript-eslint", "react"],
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier", "plugin:react/recommended"],
    "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "eqeqeq": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
